body {
  
  width: 780px;
  margin: 0 auto; /*centers body*/
  background-color: #5c80d0;
   font-family: 'Flamenco', cursive;
   font-size: 20px;
   color:rgb(198, 0, 0);
 }
 
 figure {
  margin: 0 auto; /*centers body*/
  margin-left: 25px;
  margin-top: 30px;
  margin-bottom:20px;
 }
 
 figcaption{
 text-align: center;
 }
 
 section {
 border: 1px solid black;
 padding-left: 50px;
 padding-right: 50px;
 margin-bottom:20px;
 }
 
 header {
 height: 60px;
 margin-bottom: 10px;
 margin-top: 40px;

 }

 h1 {
   font-family: 'Flamenco', cursive;
 }
 
 footer {
 margin-top: 100px;
 font-size: 13px;
 
 }
 
 table, th, td {
 border: 1px solid black;

 }
 
 th,td {
  padding: 5px;
 }
 
 table{
 display: table;
 border-collapse: separate;
 border-spacing: 2px;
 margin-bottom:20px;

 }